azure-identity
azure-cosmos

fastapi
uvicorn
python-dotenv
python-multipart
pytz
ipython

openai
langchain
langchain-core
langchain-community
langchain-openai
langgraph
azure-storage-file-datalake
azure-identity
msal

scrapegraphai
nest-asyncio==1.6.0

pandas==2.2.3
openpyxl==3.1.5
python-docx ==1.1.2
playwright
